<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>186192581107-q1vmluvf79ga186oul0051l46ugv4d61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186192581107-q1vmluvf79ga186oul0051l46ugv4d61</string>
	<key>API_KEY</key>
	<string>AIzaSyAZn-tAhO7geuJAr-bUljGqya--VX0wa-k</string>
	<key>GCM_SENDER_ID</key>
	<string>186192581107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.Prescribe</string>
	<key>PROJECT_ID</key>
	<string>prescribe-94c86</string>
	<key>STORAGE_BUCKET</key>
	<string>prescribe-94c86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:186192581107:ios:e4ebc5beae6f68f4</string>
	<key>DATABASE_URL</key>
	<string>https://prescribe-94c86.firebaseio.com</string>
</dict>
</plist>